<h2>Admin's personal page</h2>
<br><br>

<div class="container">
    <button type="button" (click)="redirectCreation()" class="btn btn-default custom-width">Crea nuovo utente</button>
    <br><br>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Username</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="#user of users">
              <td> {{user.username}} </td>
              <td width="30%">
                  <button type="button" (click)="displayUser(user.id)" class="btn btn-info custom-width">Visualizza</button>
                  <button type="button" (click)="updateUser(user.id)" class="btn btn-success custom-width">Modifica</button>
                  <button type="button" *ngIf="user.isDeactivated == false" (click)="deleteUser(user.id)" class="btn btn-danger custom-width">Elimina</button>
              </td>
            </tr>
        </tbody>
    </table>
</div>
