<div class="container">

    <h2>Visione Utente</h2>
    <!--href="#" -->
    <div *ngIf="active" class="list-group">
        <a class="list-group-item active"><strong>Utente:</strong> {{ user.username }}</a>
        <a class="list-group-item"><strong>Nome:</strong> {{ user.name }}</a>
        <a class="list-group-item"><strong>Cognome:</strong> {{ user.surname }}</a>
        <a class="list-group-item"><strong>e-mail:</strong> {{ user.email }}</a>
        <a class="list-group-item"><strong>Password:</strong> {{ user.password }}</a>
        <a class="list-group-item"><strong>Skill:</strong> {{ user.skill }}</a>
        <!--a class="list-group-item"><strong>Seniority:</strong> {{ seniority }}</a-->
        <a class="list-group-item"><strong>Profiles:</strong> {{ profiles }}</a>
    </div>

    <button class="btn btn-default" (click)="goBack()">
        Torna Indietro
    </button>
    <br><br>
    <div class="error" *ngIf="errorMessage">{{errorMessage}}</div>

</div>
